AWS_REGION='us-east-1'
AWS_ACCESS_KEY_ID='XXXXXXXXXXXXXXXXXXXX'
AWS_SECRET_ACCESS_KEY='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
ELASTIC_TRANSCODER_PIPELINE='my-transcoder-pipeline'
S3_BASE_URL='s3.amazonaws.com'
S3_BUCKET='my-s3-bucket'
S3_FOLDER='my-s3-folder'
